<p>Woca app.html</p>


<div class="class1">
    <h4>CanDeactivate</h4>
    <a routerLink="home">Home</a> &nbsp;
    <a routerLink="about">About</a> &nbsp;
    <a routerLink="contact">Contact</a> &nbsp;
    <div id="container">
        <router-outlet> </router-outlet>
    </div>
</div>
<a href=""></a>



<!-- <div class="class1">
    <h4>canActivate</h4>
    <div id="container">
        <router-outlet> </router-outlet>
    </div>
    <div>
        <h4>Online Shopping</h4>
        <a routerLink="electronics">Electronics</a><br>
        <a routerLink="appliances">Appliances</a><br>
        <a routerLink="fashion">Fashion</a><br>
        <app-login></app-login>
    </div> -->


<hr>
<!-- <div class="class1">
    <h4>Routing</h4>
    <a routerLink="home"> Home </a>&nbsp;
    <a routerLink="about"> About </a>&nbsp;
    <a routerLink="products"> Products </a>&nbsp;
    <a routerLink="products/brand1"> Product1 </a>&nbsp;
    <a routerLink="products/brand2"> Product2 </a>&nbsp;
    <a routerLink="products/brand3"> Product3 </a>&nbsp;
    <div id="container1">&nbsp;
        <router-outlet> </router-outlet>
    </div>
</div>
<hr> -->



<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-temforms></app-temforms> -->

<!-- <app-login></app-login> -->

<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-test></app-test> -->
<!-- <app-test2></app-test2> -->

<!-- <app-usa></app-usa> -->

<!-- <h4>Sharing data from parent to child</h4> -->
<!-- <app-baba></app-baba> -->
<!-- <app-son></app-son> -->


<!-- <h4>lifecycle</h4>
<app-lifecycle [companyName]="'Wow'">
    <h5>1111111111</h5>
    <h5>222222222222</h5>
    <h5 >33333333333333333</h5>
</app-lifecycle>
<a href="http://localhost:4200/">123</a> -->
<!-- <h6>44444444</h6> -->

<!-- <app-company>
    <app-employee></app-employee>
</app-company> -->


<!-- <h5>Main Project: User Management</h5> -->
<!-- <span>fisrtname, lastname, email, phone, passowrd, gender, dob</span> -->


<!-- <router-outlet></router-outlet> -->