#baba{
    height: 300px;
    position: relative;
}
#theHomePic{
    background-image: url(https://mermadale.com/slideshow2/var/albums/Farm/IMG_5155%20%28Large%29-778685373.jpg?m=1328606368);
    height: 100%;
    background-size: cover;
    filter: blur(5px);
    /* backdrop-filter: saturate(180%) blur(10px); */
}
#theHomeDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.25);
}


