<hr>
<a name="top"></a>
<a [routerLink]="['/p2']"  > go p2 </a>
<button (click)="thePut()" class="btn btn-primary" >update</button>
<ng-container>

    <div>
        <input name="thename1" type="text" [(ngModel)]="theInputValue" (keyup)="theSearchFN($event)" >
        <label 
        style="border: 1px black solid; cursor:pointer; width: 24px; text-align: center; transform: translateX(-26px);" 
        (click)="theInputValue='';theCoptP1Data = theOriP1Data.concat()" >X</label>
        <select [(ngModel)]="theDropdownValue" (change)="theSearchFN($event)" >
            <option *ngFor="let item of theDropdownList" [value]="item">{{item}}</option>
            <option value="the30Days"  >30days</option>
        </select>
        <label for=""><=Search Type</label>
    </div>
</ng-container>

<table style="width: 100%;" >
    <tr style="text-align:center;" >
        <th>Id</th>
        <th>Items</th>
        <th>Price</th>
        <th>Date <button (click)="theSort()" >Sort</button> </th>
        <th>Note</th>
    </tr>

    <tr *ngFor="let item of theCoptP1Data" style="text-align:center;" >
        <td>{{item.id}}</td>
        <td>{{item.items}}</td>
        <td>{{item.price}}</td>
        <td>{{item.date | date:'MM/dd/yyyy HH:mm:ss'}}</td>
        <td>{{item.note}}</td>
    </tr>

</table>
<hr>




