
                <html>
                <head>
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                <title>228 Fixing a Bug</title>
                </head>
                <body>
                <div class="container">
                <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="lead"><p>In the next lecture, we'll add some code to access the controls of our form array:</p><p><code>*ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls;&nbsp;let i =&nbsp;index"</code></p><p>This code will fail with the latest Angular version.</p><p>You can fix it easily though. Outsource the "get the controls"&nbsp;logic into a getter of your component code (the <code>.ts</code> file):</p><pre class="prettyprint linenums">get controls() { //&nbsp;a getter!
  return (&lt;FormArray&gt;this.recipeForm.get('ingredients')).controls;
}</pre><p>In the template, you can then use:</p><p><code>*ngFor="let ingredientCtrl of controls;&nbsp;let i =&nbsp;index"</code> </p><p>This adjustment is required due to the way TS works and Angular parses your templates (it doesn't understand TS&nbsp;there).</p></p>
                </div>
                </div>
                </div>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                </body>
                </html>
                